pkgbase = omarchy-t2
	pkgdesc = Omarchy hardware support and tuning for Intel T2 MacBook Pros
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/aminmarashi/omarchy-t2
	install = omarchy-t2.install
	arch = x86_64
	license = MIT
	makedepends = patch
	depends = apple-bcm-firmware
	depends = apple-t2-audio-config
	depends = bash
	depends = bluez
	depends = calf
	depends = coreutils
	depends = findutils
	depends = gawk
	depends = glib2
	depends = grep
	depends = libpulse
	depends = linux-t2
	depends = lsp-plugins-lv2
	depends = omarchy>=4.0.0
	depends = pipewire
	depends = pipewire-pulse
	depends = python
	depends = python-dbus
	depends = python-gobject
	depends = sudo
	depends = swh-plugins
	depends = systemd
	depends = t2fanrd
	depends = wireplumber
	backup = etc/omarchy-t2.conf
	source = omarchy-t2-0.1.0.tar.gz::https://github.com/aminmarashi/omarchy-t2/archive/refs/tags/v0.1.0.tar.gz
	source = t2-apple-audio-dsp-8d3edcbfcf17649279927fb12130b8575e912d2e.tar.gz::https://github.com/lemmyg/t2-apple-audio-dsp/archive/8d3edcbfcf17649279927fb12130b8575e912d2e.tar.gz
	sha256sums = 92b1b269e8258efee84dc23390bccfed2fc9d69b49c9c7386473547c78274d0d
	sha256sums = 24370f3c1a9bbebb18568a9247f992b6c630356e6b62178568aed25d9efd792c

pkgname = omarchy-t2
